@import url("estilobooks/header.css");
@import url("estilobooks/banner.css");
@import url("/estilobooks/carossel.css");
@import url("/estilobooks/topicos.css");
@import url("/estilobooks/contato.css");

:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-diferente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
} 

body{
    background-color:var(--cor-de-fundo) ;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

