.carossel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-principal);
    margin-bottom: 0.5em;
}

.card__botões{
    display: flex;
    justify-content: space-between;
}

.botões{
    display: flex;
}

.card{
    border-radius: 10px;
    background: var(--branco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
}

.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
    margin: 0.5em 0em;
}

.descricao__titulo-livro{
    color: var(--azul);
    font-weight: 700;
    margin: 0.5em 0em;
}

.descricao__texto{
    font-size: 14px;
}

.botões__item{
    margin: 0em 0.5em;
}

.botões__ancora{
   background-color: var(--laranja);
   padding: 1em 2.2em;
   text-decoration: none;
   color: var(--branco);
   font-family: var(--fonte-principal);
   font-weight: 700;
}
